{% extends 'base.html' %}

{% block content %}

<p>Books by: {{ author.name }}</p>

{% for book in author.book_set.all %}
<div class="Media">
 <a href="{{ book.get_absolute_url }}">
  <img class="Media-figure" src="{{ book.image.url }}" alt="" width="100" height="100" >
 </a>
  <div class="Media-body">
	  <p class="Media-title">
	  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
	  </p>
	  <p class="Media-title">
	  {% for author in book.authors.all %}
	  
	  <p>{{ author.name }}</p>&nbsp 
	  
	  {% endfor %}
	  </p>
	  <p>{{ book.year }}</p>
 </div>
</div>
<hr>


{% endfor %}

{% endblock %}