{% extends 'base.html' %}
{% load static %}

{% block content %}

 {% for book in books_list %}
 <div class="Media">
  <img class="Media-figure" src="{{ book.image.url }}" alt="" width="100" height="100" >
  <div class="Media-body">
	  <h4 class="Media-title">
	  <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
	  </h4>
	  {% for author in book.authors.all %}
	  <p>{{ author.name }}</p>{% endfor %}
	  <p>{{ book.year }}</p>
 </div>
</div>
<hr>
{% endfor %}
 




{% endblock %}