{% extends 'base.html' %}
{% load static %}

{% block content %}

<article class="featured">
<div class="Media">
  <img class="Media-figure" src="{% static 'img/applied_corporate_finance.jpg' %}" alt="" width="100" height="100" >
  <div class="Media-body">
	  <h4 class="Media-title">Applied Corporate Finance</h4>
	  <p>By: Micha Jaworski, Tarek Ziade</p>
	  <h4>Python is a dynamic programming language, used in a wide range of domains by programmers 
	  who find it simple.</h4>
	 </div>
</div>
 <hr>
<div class="Media">
  <img class="Media-figure" src="{% static 'img/quantitative_economics_with_python.jpg' %}" alt="" width="100" height="100" >
  <div class="Media-body">
	  <h4 class="Media-title">Quantitative Economics with Python</h4>
	  <h4>By: Micha Jaworski, Tarek Ziade</h4>
	  <h4>Python is a dynamic programming language, used in a wide range of domains by programmers 
	  who find it simple.</h4>
  </div>
</div>
 <hr>
 
 <div class="Media">
  <img class="Media-figure" src="{% static 'img/applied_corporate_finance.jpg' %}" alt="" width="100" height="100" >
  <div class="Media-body">
	  <h4 class="Media-title">Applied Corporate Finance</h4>
	  <p>By: Micha Jaworski, Tarek Ziade</p>
	  <h4>Python is a dynamic programming language, used in a wide range of domains by programmers 
	  who find it simple.</h4>
	 </div>
</div>
 <hr>
<div class="Media">
  <img class="Media-figure" src="{% static 'img/quantitative_economics_with_python.jpg' %}" alt="" width="100" height="100" >
  <div class="Media-body">
	  <h4 class="Media-title">Quantitative Economics with Python</h4>
	  <p>By: Micha Jaworski, Tarek Ziade</p>
	  <h4>Python is a dynamic programming language, used in a wide range of domains by programmers 
	  who find it simple.</h4>
  </div>
</div>
 <hr>
</article>



{% endblock %}