{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block content %}
{% if "query" in request.GET %}
	<h1>Books containing "{{ cd.query }}"</h1>
	<h3>Found {{ total_results }} result{{ total_results|pluralize }}</h3>
{% for result in results %}
	{% with book=result.object %}
	<h4><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></h4>
	{{ book.year }}
	{% endwith %}
{% empty %}
	<p>There are no results for your query.</p>
{% endfor %}
	<p><a href="{% url "books:book_search" %}">Search again</a></p>
{% else %}
<h1>Search for books</h1>
<form action="." method="get">
	{{ form.as_p }}
<input type="submit" value="Search">
</form>
{% endif %}
{% endblock %}