<!DOCTYPE html>
{% load staticfiles %}
{% load navtags %}

<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Generic welcome title</title> 
{% comment %}  CSS & JS{% endcomment %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
<link rel="stylesheet" href="{% static 'css/flexbox.css' %}">

<script src="{% static 'js/modernizr.custom.js'%}"></script>
<script src="{% static 'http://use.edgefonts.net/lato.js'%}"></script>
<script src="{% static 'http://use.edgefonts.net/cardo.js'%}"></script>

{% comment %}  CSS & JS {% endcomment %}

</head>
<body>
<!-- Nav bar -->
<nav role="navigation">
{% get_nav as categories %}
<ul>
  <li><a href="{% url 'home' %}" title="Recent">All eBooks</a></li>
{% for category in categories %}
  <li><a href="{% url 'books:book_category' category.slug %}" title="Articles">{{ category.title }}</a></li>
{% endfor %}
  <li><a href="" title="learn more about me">Help</a></li>
  
</ul>
</nav>
<!-- end -->

{% block content %}
{% endblock %}



<footer role="contentinfo">
<p>&copy; 2016 Finance eBooks</p>
</footer>
</body>
</html>
